<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>853645240467-g39ckt33ob9s7gb4cm4uqegpmm9u0j9q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.853645240467-g39ckt33ob9s7gb4cm4uqegpmm9u0j9q</string>
	<key>API_KEY</key>
	<string>AIzaSyAf6GXPzhlulGbG67XFkSyPwaPOR04xezk</string>
	<key>GCM_SENDER_ID</key>
	<string>853645240467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ananev.toDoFirebase</string>
	<key>PROJECT_ID</key>
	<string>to-dofirebase-872c5</string>
	<key>STORAGE_BUCKET</key>
	<string>to-dofirebase-872c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:853645240467:ios:4a434442936dd820690566</string>
</dict>
</plist>